common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp
build:remote-linux --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote-linux --bes_backend=grpcs://app.buildbuddy.io
build:remote-linux --remote_timeout=10m
build:remote-linux --remote_executor=grpcs://app.buildbuddy.io
build:remote-linux --platforms=//:linux_amd_platform
build:remote-linux --extra_execution_platforms=//:linux_amd_platform
